maintainers:
  - github: EHfive
    email: eh5@eh5.me

update_on:
  - source: aur
    aur: {{ pkgbase }}

pre_build_script: aur_pre_build(maintainers=['{{ maintainer }}'])
post_build_script: aur_post_build()
